body {
  font-family: 'HP Simplified Light';
  background: linear-gradient(rgba(0,150,214,0.1),rgba(0,150,214,0.3)),url("printer.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.main-container {
    margin-left: 10%;
    margin-right: 10%;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

.header-container {
  margin: 50px;
}

h1.title {
    font-size: 50px;
    color: #FFFFFF;
}

h4.author, h4.date {
    font-size:26px;
    color: #FFFFFF;
}

.body-container {
    background-color: rgba(255,255,255,0.85);
    padding: 5px 30px;
    border-radius: 10px;
}